In [29]:
# Import libraries and data
import tensorflow as tf 
from tensorflow import keras 
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
scaler = MinMaxScaler() 
import pandas as pd 
from sklearn.metrics import accuracy_score

In [17]:
data = pd.read_csv('bank_marketing.csv')
data.head()

   y  age  marital  ever_defaulted  housing_loan  Personal_loan
0  0   56        1               0             0              0
1  0   37        1               0             1              0
2  0   40        1               0             0              0
3  0   56        1               0             0              1
4  0   59        1               0             0              0

In [18]:
# Scale the numeric columns
col_to_scale =['age']
data[col_to_scale] = scaler.fit_transform(data[col_to_scale])
data.head()

   y       age  marital  ever_defaulted  housing_loan  Personal_loan
0  0  0.500000        1               0             0              0
1  0  0.256410        1               0             1              0
2  0  0.294872        1               0             0              0
3  0  0.500000        1               0             0              1
4  0  0.538462        1               0             0              0

In [27]:
# Choose the independent and dependent variable 
X = data.drop('y',axis = 1) 
Y = data['y']

In [30]:
# Train, test/validation split
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = 0.20, random_state = 42)
test_df = pd.concat ([X_test,y_test],axis =1 )

In [32]:
# Create the network
model = keras.Sequential([ keras.layers.Dense(3, input_shape = (5,),activation = 'relu'), keras.layers.Dense(2, input_shape = (3,),activation = 'relu'), keras.layers.Dense(1,activation = 'sigmoid'), ])

In [33]:
# Compile the network
model.compile(optimizer ='adam', loss = 'binary_crossentropy', metrics = ['accuracy'] )

In [34]:
# train the model 
model.fit(X_train,y_train,epochs = 5)

Epoch 1/5
794/794 [==============================] - 1s 1ms/step - loss: 0.4574 - accuracy: 0.8648
Epoch 2/5
794/794 [==============================] - 1s 1ms/step - loss: 0.3878 - accuracy: 0.8708
Epoch 3/5
794/794 [==============================] - 1s 1ms/step - loss: 0.3840 - accuracy: 0.8708
Epoch 4/5
794/794 [==============================] - 1s 990us/step - loss: 0.3832 - accuracy: 0.8708
Epoch 5/5
794/794 [==============================] - 1s 1ms/step - loss: 0.3827 - accuracy: 0.8708

In [35]:
# Evaluate the model 
model.evaluate(X_test,y_test)

199/199 [==============================] - 0s 962us/step - loss: 0.3790 - accuracy: 0.8730

[0.37896472215652466, 0.8729534149169922]

In [36]:
# Predict based on ANN model
yp = model.predict(X_test)
y_pred = []
for element in yp: 
    if element > 0.5: 
        y_pred.append(1) 
    else:
        y_pred.append(0)

199/199 [==============================] - 0s 772us/step

In [37]:
# Check accuracy of the model 
accuracy_score(y_test, y_pred)

0.8729534005037783